html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    font-family: 'Inter', 'sans-serif';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrap {
    max-width: 1440px;
    margin: 0 auto;
    overflow: clip;
    position: relative;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 20px 0 20px;
}

.logo {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    transition: 0.5s;
}

.logo:hover {
    color: #BDAE82;
}

.header_right {
    display: flex;
    gap: 31px;
}

.header_ul {
    display: flex;
    gap: 30px;
    padding-top: 4px;
}

.header_link,
.en,
.ru,
.slash {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    transition: 0.5s;
}

.header_link:hover,
.en:hover,
.ru:hover {
    color: #BDAE82;
}

.language {
    display: flex;
    gap: 9px;
}

.en,
.ru {
    font-weight: 700;
    cursor: pointer;
}

.header_btn_active {
    color: #BDAE82;
}

.slash {
    font-weight: 700;
}

.hero {
    background-image: url('../assets/img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -90px;
    padding-bottom: 330px;
}

.hero_title {
    width: 500px;
    height: 330px;
    flex-shrink: 0;
    padding-left: 80px;
    padding-top: 250px;
}

.hero_name {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    margin-block-start: 0px;
    margin-block-end: 10px;
}

.hero_text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 470px;
    margin-block-start: 0px;
    margin-block-end: 25px;
}

.hero_button,
.price_button,
.form_button {
    width: 220px;
    height: 55px;
    flex-shrink: 0;
    background: #BDAE82;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    border-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}

.hero_button:hover,
.price_button:hover,
.form_button:hover {
    color: #FFF;
}

main {
    margin: 0 auto;
}


.skills,
.portfolio,
.video,
.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 20px;
}

.skills_title {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 700px;
    margin-top: 100px;
}

.left_line,
.right_line {
    width: 294px;
    height: 2px;
    background: #BDAE82;
}

.skills_h2 {
    color: #BDAE82;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.skills_content {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: -10px;
    max-width: 1400px;
    flex-wrap: wrap;
    justify-content: center;
}

.digital_photo,
.video_shooting,
.retouch,
.audio {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digital_photo_title,
.video_shooting_title,
.retouch_title,
.audio_title {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-block-start: 50px;
    margin-block-end: 2px;
}

.digital_photo_text,
.video_shooting_text,
.retouch_text,
.audio_text {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    width: 280px;
}

.portfolio_button {
    display: flex;
    gap: 5px;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.winter,
.spring,
.summer,
.autumn {
    width: 220px;
    height: 55px;
    flex-shrink: 0;
    border: 2px solid #BDAE82;
    color: #BDAE82;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.winter:hover,
.spring:hover,
.summer:hover,
.autumn:hover {
    color: #FFF;
    cursor: pointer;
}

.portfolio_photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 60px;
    justify-content: center;
}

.portfolio-img {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
}



.wedding_img {
    margin-top: 60px;
    max-width: 100%;
    flex-shrink: 0;
}

.price_content {
    display: flex;
    gap: 25px;
    margin-top: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.standart,
.premium,
.gold {
    width: 445px;
    flex-shrink: 0;
    border: 3px solid #BDAE82;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standart_title,
.premium_title,
.gold_title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.standart_price,
.premium_price,
.gold_price {
    color: #BDAE82;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-block-start: -10px;
    margin-block-end: 0px;
}

.standart_text,
.premium_text,
.gold_text {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-block-start: 12px;
    margin-block-end: -12px;
}

.price_button {
    margin-bottom: 40px;
    margin-top: 62px;
}

.contacts {
    background-image: url('../assets/img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    padding-right: 20px;
    padding-bottom: 195px;
}

.form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

legend {
    color: #BDAE82;
    font-family: 'Merriweather';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin-top: 60px;
}

.email,
.tel,
textarea {
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.50);
    width: 450px;
}

.email {
    margin-top: 10px;
}

.tel {
    margin-top: -5px;
    margin-bottom: -6px;
}

textarea {
    height: 100px;
}

input[type="email"],
input[type="tel"],
textarea {
    color: #BDAE82;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
    color: #BDAE82;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding-left: 20px;
}

.form_button {
    margin-top: -8px;
}

.footer {
    padding: 30px 20px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_left {
    width: 182px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer_copy,
.footer_year,
.footer_link {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    transition: 0.5s;
}

.footer_link:hover {
    color: #BDAE82;
}

.footer_center {
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.footer_right {
    width: 188px;
    display: flex;
    gap: 20px;
}

.instagram,
.facebook,
.twiter,
.pinterest {
    cursor: pointer;
    color: #FFF;
    transition: 0.5s;
}

.instagram:hover,
.facebook:hover,
.twiter:hover,
.pinterest:hover {
    cursor: pointer;
    color: #BDAE82;
}

.header.open .header_nav_burger {
    transform: translateX(-100%);
}

.header_nav_burger {
    position: absolute;
    width: 620px;
    background-color: #000000;
    right: -620px;
    transition: 1s;
}

.header_ul_burger {
    display: flex;
    flex-direction: column;
    margin-top: 134px;
    margin-left: 87px;
    gap: 17px;
    margin-bottom: 137px;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.burger:hover span {
    background-color: #BDAE82;
}

.header_link_burger {
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 72.549px;
    transition: 0.5s;
}

.header_link_burger:hover {
    color: #BDAE82;
}

span {
    display: block;
    width: 50px;
    height: 3px;
    background-color: #FFFFFF;
    transition: 0.5s;
}

.header.open .burger {
    margin-top: 45px;
    width: 50px;
    height: 50px;
}

.burger span:nth-child(1) {
    transform: translateY(1px);
}

.burger span:nth-child(2) {
    transform: translateY(11px);
}

.burger span:nth-child(3) {
    transform: translateY(20px);
}

.header.open .burger span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    margin-top: 20px;
}

.header.open .burger span:nth-child(2) {
    display: none;
}

.header.open .burger span:nth-child(3) {
    transform: translateX(0px) rotate(-46deg) translateY(0px);
}

.act {
    background-color: #BDAE82;
    color: #000;
}

.winter_img,
.spring_img,
.summer_img {
    display: none;
}